<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"wildanimals/banner"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px">
	
<!-- wp:pattern {"slug":"wildanimals/features"} /-->

<!-- wp:pattern {"slug":"wildanimals/counter"} /-->

<!-- wp:pattern {"slug":"wildanimals/services"} /-->

<!-- wp:pattern {"slug":"wildanimals/wedo"} /-->

<!-- wp:pattern {"slug":"wildanimals/latest-news"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->